<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-brand">
        <h4 >TodoApp</h4>
      </li>
      <li class="nav-item active">
        <a routerLink="" class="nav-link">Liste</a>
      </li>
      <li class="nav-item">
        <a routerLink="/addtodo" class="nav-link">Neues Todo anlegen</a>
      </li>
      <li class="nav-item">
        <a routerLink="/settings" class="nav-link">Einstellungen</a>
      </li>
    </ul>
  </div>
</nav>
